<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<!-- /easypay/routes/index.js  -->
    <h1><%= title %></h1>
    <p>Welcome to <%= email %></p>
    c4ei_addr : <%=c4ei_addr%>
    <br>
    c4ei_balance : <%= c4ei_balance %>
    <div>
      <img src="<%=dataUrl%>" alt="qr"/>
    </div>
  </body>
</html>
