<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<!-- /easypay/routes/index.js  -->
    <h1><%= title %></h1>
    <p>Welcome to <%= email %></p>

    <h3>블록체인 거래 1초 전송시대를 열어 가겠습니다.</h3>

    <% if (c4ei_addr!="" &&c4ei_addr!=null){ %>
      c4ei_addr : <%=c4ei_addr%>
      <br>
      c4ei_balance : <%= c4ei_balance %>
      <div>
        <img src="<%=dataUrl%>" alt="qr"/>
      </div>      
    <% } else { %>
      <a href="/address_generator">make address</a>
    <%
    }
    %>
    <br/><br/>
    <a href="/logout"> logout </a> / <a href="/reader.html">reader</a> / 
    <a href="https://easy.c4ei.net/rcv?rcv_email=his001@nate.com&rcv_adr=0x0077b5723B4017b38471F80725f7e3c3347FfB03&rcv_amt=10&tt=2021-11-09_10:19:19.000">test</a>
    / <a href="/syncbalance"> sync balance</a>
  </body>
</html>
