<!DOCTYPE html>
<html>
  <head>
    <title> 입금하실 계좌정보 </title>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C4EI 입금하실 계좌정보</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/js/jquery.min.js"></script>
  </head>
  <body>

<table width="100%" border="0"  style="font-size: 10px;">
  <tr>
    <td style="height: 500px;font-size: 14px;">
      <%= msg %>
      <hr/>
      입금하실 계좌정보 : 카카오뱅크 3333-27-5746222 
      <br />예금주:씨포이아이(C4EI) 로 <br /><br />
      <b><%=send_krw%></b>원 을 입금 하시면 
      <br /><%=c4ei_addr%>로 <%=C4EIamt%> C4EI 가 입금됩니다.<br /><br />
      입금자 명에 <b><%=idx%></b> 을(를) 입력해 주세요.<br />
      <hr/>
      입금확인 시 <%=email%> 로 Email 회신 드립니다.<br />
    </td>
  </tr>
</table>
<br/>
<a href="javascript:jsfn_ok();">home</a>

<script>
  function jsfn_ok(){
    document.location.href="/main.html";
  }
</script>

  </body>
</html>
