<%- include('./partials/head'); %>
<table width="100%" border="0" style="font-size: 9px;">
  <tr><td style="text-align: center;height:1px;background-color: aliceblue;" colspan="2"></td></tr>
  
  <tr>
    <td  style="text-align: left;width:70px">email</td>
    <td style="text-align: left;"><%=email%> <input type="hidden"  id="txt_my_email" name="txt_my_email" value="<%=email%>" style="width: 230px;font-size: 9px;" readonly > </td>
  </tr>
  <tr><td style="text-align: center;height:1px;background-color: aliceblue;" colspan="2"></td></tr>
  <tr>
    <td  style="text-align: left;width:70px">pot</td>
    <td  style="text-align: left;font-size: 9px;"><%=pot%></td>
  </tr>
  <tr><td style="text-align: center;height:1px;background-color: aliceblue;" colspan="2"></td></tr>
  <tr><td style="text-align: center;height:10px;">  </td></tr>

  <tr>
    <td  style="text-align: left;width:70px">loginCnt</td>
    <td  style="text-align: left;font-size: 9px;"><%=loginCnt%></td>
  </tr>
  <tr>
    <td  style="text-align: left;width:70px">pot_reg_cnt</td>
    <td  style="text-align: left;font-size: 9px;"><%=pot_reg_cnt%></td>
  </tr>
  
  <tr>
    <td  style="text-align: left;width:70px">last_pot_reg</td>
    <td  style="text-align: left;font-size: 9px;"><%=last_pot_reg%></td>
  </tr>
  <tr>
    <td  style="text-align: left;width:70px">TMDiff</td>
    <td  style="text-align: left;font-size: 9px;"><%=TMDiff%></td>
  </tr>
  <tr>
    <td  style="text-align: left;width:70px">reffer_cnt</td>
    <td  style="text-align: left;font-size: 9px;"><%=reffer_cnt%></td>
  </tr>
  <tr>
    <td style="height: 15px;"></td>
    <td></td>
  </tr>
</table>
<script>
  function jsfn_show4cut(x) {
   return Number.parseFloat(x).toFixed(4);
  }
</script>
<%- include('./partials/bottomnoprj'); %>