<%- include('./partials/head'); %>

<table width="100%" border="0" style="font-size: 9px;">
  <tr><td style="text-align: center;height:1px;background-color: aliceblue;" colspan="2"></td></tr>
  <tr>
    <td  style="text-align: left;width:70px">email</td>
    <td style="text-align: left;"><%=email%> <input type="hidden"  id="txt_my_email" name="txt_my_email" value="<%=email%>" style="width: 230px;font-size: 9px;" readonly > </td>
  </tr>
  <tr><td style="text-align: center;height:10px;">  </td></tr>
  <tr><td style="text-align: center;height:1px;background-color: aliceblue;" colspan="2"></td></tr>
  <tr><td style="text-align: center;height:1px;background-color: aliceblue;" colspan="2"></td></tr>
  <tr>
    <td  style="text-align: left;width:70px">address</td>
    <td  style="text-align: left;font-size: 9px;"><%=c4ei_addr%></td>
  </tr>
  <tr><td style="text-align: center;height:1px;background-color: aliceblue;" colspan="2"></td></tr>
  <tr>
    <td  style="text-align: right;width:70px"> <%=c4ei_balance%> </td>
    <td  style="text-align: left;"> C4EI (Coins for Economic Independence)
      <a href="/sendC4ei">send</a>
    </td>
  </tr>
  <tr>
    <td  style="text-align: right;width:70px"> <%=bck_balance%> </td>
    <td  style="text-align: left;">BCK (Block Chain Korea)
      <a href="/sendC4eibck">send</a>
    </td>
  </tr>
  <tr><td style="text-align: center;height:1px;background-color: aliceblue;" colspan="2"></td></tr>
  <tr><td style="text-align: center;height:10px;">  </td></tr>
  <!-- <tr><td style="text-align: center;height:10px;" colspan="2"> klay network synced end maybe 2021-12   </td></tr> -->
  <tr><td style="text-align: center;height:10px;">  </td></tr>
  <tr><td style="text-align: center;height:1px;background-color: aliceblue;" colspan="2"></td></tr>
  <tr><td style="text-align: center;height:1px;background-color: aliceblue;" colspan="2"></td></tr>
  <tr>
    <td  style="text-align: left;width:70px">address</td>
    <td  style="text-align: left;font-size: 9px;"><%=klay_addr%></td>
  </tr>
  <tr><td style="text-align: center;height:1px;background-color: aliceblue;" colspan="2"></td></tr>
  <tr>
    <td  style="text-align: right;width:70px"> <%=klay_balance%>  </td>
    <td  style="text-align: left;"> KLAY (Klayton)
      <a href="/sendKlay">send</a>
    </td>
  </tr>
  <tr>
    <td  style="text-align: right;width:70px"> <%=klay_ceik_balance%> </td>
    <td  style="text-align: left;">CEIK (C4EI for KLAYSwap) 
      <a href="/sendCeik">send</a> 
    </td>
  </tr>
  <tr><td style="text-align: center;height:1px;background-color: aliceblue;" colspan="2"></td></tr>
  <tr><td style="text-align: center;height:10px;">  </td></tr>
</table>
<script>
  function jsfn_show4cut(x) {
   return Number.parseFloat(x).toFixed(4);
  }
</script>
<%- include('./partials/bottomnoprj'); %>