<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<!-- /easypay/routes/index.js  -->
    <h1><%= title %></h1>
    <p>Welcome to <%= email %></p>
    my c4ei_addr : <%=c4ei_addr%><br> my c4ei_balance : <%= c4ei_balance %>
    <br/><br/>
    <%= rcv_email %><br/>
    send rcv_adr : <%=rcv_adr%><br> send rcv_amt : <%= rcv_amt %>

  </body>
</html>
