<%- include('./partials/head'); %>

<table width="100%" border="0"  style="font-size: 10px;">
  <form id="sendForm" method="post" action="/sendTr">
    <tr>
      <td  style="text-align: left;width:90px">email</td>
      <td ><%=email%> 
        <input type="hidden"  id="txt_my_email" name="txt_my_email" value="<%=email%>" style="width: 230px;font-size: 9px;" readonly > </td>
    </tr>
    <tr>
    <td  style="text-align: left;width:90px">address</td>
    <td ><input type="text"  id="txt_my_addr" name="txt_my_addr" value="<%=c4ei_addr%>" style="width: 230px;font-size: 9px;" readonly > </td>
  </tr>
  <tr>
    <td  style="text-align: left;width:90px">c4ei </td>
    <td ><input type="text"  id="txt_my_balance" name="txt_my_balance" value="<%=c4ei_balance%>" style="width: 230px;font-size: 9px;" readonly > </td>
  </tr>
  <tr>
    <td style="height: 15px;"></td>
    <td></td>
  </tr>
  <tr>
    <td>recever email</td>
    <td><%= rcv_email %></td>
  </tr>
  <tr>
    <td  style="text-align: left;width:90px">receive address</td>
    <td ><input type="text"  id="txt_to_address" name="txt_to_address" value="<%=rcv_adr%>" style="width: 350px;" readonly > </td>
  </tr>
  <tr>
    <td>send amount</td>
    <td><input type="number" id="txt_to_amt" name="txt_to_amt" value="<%= rcv_amt %>" style="width: 250px;"> </td>
  </tr>
  <tr>
    <td colspan="2" align="center"><input type="button" value="send" id="btn_send" onclick="jsfn_send();"></td>
  </tr>
</form>
</table>
    <br/>
<script>
  function jsfn_send(){
    var txt_my_addr     = document.getElementById("txt_my_addr").value;
    var txt_my_balance  = document.getElementById("txt_my_balance").value;
    var txt_to_address = document.getElementById("txt_to_address").value;
    var txt_to_amt     = document.getElementById("txt_to_amt").value;
    
    if(txt_my_addr==txt_to_address){
      alert('can`t send your self');
      return;
    }
    if(txt_my_balance < txt_to_amt){
      alert('can`t send your balance is small');
      return;
    }
    if(confirm('Are you sure? sended can`t stop proceed')){
      document.getElementById("sendForm").action = "/sendTr";
      document.getElementById("sendForm").submit();
    }
  }
  // function jsfn_goto_main(){
  //   document.location.href="/";
  // }
</script>


<%- include('./partials/bottomnoprj'); %>