<%- include('./partials/head'); %>

<table width="100%" border="0">
    <tr>
      <td  style="text-align: left;width:90px">my email</td>
      <td ><%=my_email%></td>
    </tr>
    <tr>
    <td  style="text-align: left;width:90px">my address</td>
    <td ><%=my_addr%></td>
  </tr>
  <tr>
    <td  style="text-align: left;width:90px">my c4ei_balance</td>
    <td ><%=my_balance%></td>
  </tr>
  <tr>
    <td style="height: 15px;"></td>
    <td></td>
  </tr>
  <tr>
    <td  style="text-align: left;width:90px">to_address</td>
    <td ><%=to_address%></td>
  </tr>
  <tr>
    <td  style="text-align: left;width:90px">to_amt</td>
    <td ><%=to_amt%></td>
  </tr>
 </table>

 <%- include('./partials/bottom'); %>